@using Entity.Concrete
@model List<Fleet>

<section id="ft-service-page" class="ft-service-page-section page-padding">
	<div class="container">
		<div class="ft-service-page-items">
			<div class="row">
				@foreach (var item in Model)
				{
					<section id="ft-project-details" class="ft-project-details-section page-padding">
						<div class="container">
							<div class="ft-project-overview">
								<div class="row">
									<div class="col-lg-8">
										<div class="ft-project-details-img">
											<img src="@Url.Content(item.GemiFoto)" alt="gemi Fotoğrafı">
										</div>
									</div>
									<div class="col-lg-4">
										<div class="ft-portfolio-overview-text headline">
											<div class="project-title-overview text-center">
												<h3>Filo Bilgileri</h3>
											</div>
											<div class="ft-portfolio-overview-list-value">
												<div class="ft-portfolio-overview-list  ul-li-block">
													<ul>
														<li>Gemi Adı: <span>@Model.First().GemiAd</span></li>
														<li>Bayrağı: <span>@Model.First().GemiBayrak </span></li>
														<li>Yolcu Kapasitesi:  <span>@Model.First().GemiKapasite</span></li>
														<li>Grt:  <span>@Model.First().GemiGrt</span></li>
														<li>Dwt:  <span>@Model.First().GemiDwt </span></li>
														<li>Tam Boy:  <span>@Model.First().GemiBoy</span></li>

													</ul>
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="ft-project-overview-text-wrapper headline pera-content">
								<h3>
									@Model.First().GemiAd
								</h3>

							</div>
						</div>
					</section>
				}
			</div>
		</div>
	</div>
</section>
