@using Entity.Concrete
@model List<Fleet>
<!-- Start of Breadcrumb section
	============================================= -->
<section id="ft-breadcrumb" class="ft-breadcrumb-section position-relative" style="background-image: url('/ege roro/assets/img/bg/bread-bg.jpg');">
	<span class="background_overlay"></span>
	<span class="design-shape position-absolute"><img src="~/ege roro/assets/img/shape/tmd-sh.png" alt=""></span>
	<div class="container">
		<div class="ft-breadcrumb-content headline text-center position-relative">
			<h2>Hakkımızda</h2>
			<div class="ft-breadcrumb-list ul-li">
				<ul>
					<li><a href="/Service">Hakkımızda</a></li>
					<li>Hakkımızda</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- End of Breadcrumb section
	============================================= -->
<!-- Start of Service page section
	============================================= -->
<section id="ft-service-page" class="ft-service-page-section page-padding">
	<div class="container">

		<div class="ft-service-page-items">
			<div class="row">
				@foreach (var item in Model)
				{
					<div class="col-lg-4 col-md-6">
						<div class="ft-service-innerbox-2 position-relative">
							<div class="ft-service-img text-center">
								<a href="@Url.Action("Detail", "Fleet", new { name = item.GemiAd })">
									<img src="@Url.Content(item.GemiFoto)" alt="hizmet Fotoğrafı">
								</a>
							</div>
							<div class="ft-service-text position-relative headline">
								<h3><a href="@Url.Action("Detail", "Fleet", new { name = item.GemiAd })">@item.GemiAd</a></h3>
								<div class="ft-btn-2">
									<a href="@Url.Action("Detail", "Fleet", new { name = item.GemiAd })">
										<i class="icon-first flaticon-right-arrow"></i>
										<span>Detay</span>
									</a>
								</div>
							</div>
							<div class="ft-service-serial position-absolute">
								@item.Gemino
							</div>
						</div>
					</div>
				}


			</div>
		</div>
	</div>
</section>
<!-- End of Service page section
	============================================= -->
